<!DOCTYPE HTML>
<head>
<title>哲也教育</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="js/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" href="js/nivo-lightbox/nivo-lightbox-theme.css">
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
</head>
<body>
	<!-- Navigation area --><section id="navigation"> </section> <!--  /#navigation  -->

	<div class="header">
		 <div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li><a href="/index">主页</a></li>
						<li><a href="/list">视频列表</a></li>
					</ul>
				</div>
					<div class="account_desc">
						<ul>
							<li><a href="/logout">退出</a></li>
							<li><a href="/info">用户信息</a></li>
						</ul>
					</div>
				<div class="clear"></div>
			</div>
	  	</div>
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="/index"><img src="images/logo.png" alt="" /></a>
					</div>
						<div class="header_top_right">
							  <div class="search_box">
					     		<form>
					     			<input type="text" value="查找" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
					     		</form>
					     	</div>
						 <div class="clear"></div>
					</div>
						  <script type="text/javascript">
								function DropDown(el) {
									this.dd = el;
									this.initEvents();
								}
								DropDown.prototype = {
									initEvents : function() {
										var obj = this;
					
										obj.dd.on('click', function(event){
											$(this).toggleClass('active');
											event.stopPropagation();
										});	
									}
								}
					
								$(function() {
					
									var dd = new DropDown( $('#dd') );
					
									$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
					
								});
					    </script>
			   <div class="clear"></div>
  		    </div>     				
   		</div>
   </div>
   <div class="main">
   	 <div class="wrap">
   	 	<div class="content_top">
    		<div class="back-links">
    		<p><a href="/list">返回视频列表>>></a></p>
    	    </div>
    		<div class="clear"></div>
    	</div>
   	 	<div class="section group">
				<div class="cont-desc span_1_of_2">
				  <div class="product-details">
					<div class="grid images_3_of_2">
						<video width="800" height="450" controls>
							<source src="/media/movie.mp4" type="video/mp4">
						</video>
				  </div>
				<div class="desc span_3_of_2">
				 
			</div>
			<div class="clear"></div>
		  </div>
		<div class="product_desc">	
			 <h2>简介:</h2>
			  <p>视频通常指涉各种动态影像的储存格式，例如：数位视频格式，包括DVD，QuickTime，与MPEG-4；以及类比的录像带,
				  包括VHS 与Betamax。视频可以被记录下来并经由不同的物理媒介传送：
				  在视频被拍摄或以无线电传送时为电气讯号，而记录在磁带上时则为磁性讯号；
				  视频画质实际上随著拍摄与撷取的方式以及储存方式而变化。
				  基于电视的标准和基于计算机的标准，被试图从两个不同的方面来发展视讯技术。
			  </p>
	    </div>
   </div>
				<div class="rightsidebar span_3_of_1 sidebar">
					<h2>相关推荐</h2>
					 	<div class="special_movies">
					 	   <div class="movie_poster">
					 		  <a href="single.html"><img src="images/end-game.jpg" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
							    <h3><a href="single.html">示例视频</a></h3>
								   <p></p>
								     <span><a href="#">立即查看</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>	
					 		<div class="special_movies">
					 	   <div class="movie_poster">
					 		  <a href="#"><img src="images/Coraline.jpg" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
									<h3><a href="#">示例视频</a></h3>
									<p></p>
									  <span><a href="#">立即查看</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>	
					 		<div class="special_movies">
					 	   <div class="movie_poster">
					 		  <a href="#"><img src="images/Eclipse.jpg" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
									<h3><a href="#">示例视频</a></h3>
									<p></p>
									  <span><a href="#">立即查看</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>	
					 		<div class="special_movies">
					 	   <div class="movie_poster">
					 		  <a href="#"><img src="images/Priest.jpg" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
									<h3><a href="#">示例视频</a></h3>
									<p></p>
									  <span><a href="#">立即查看</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>	
					 		<div class="special_movies">
					 	    <div class="movie_poster">
					 		  <a href="#"><img src="images/Sorority_Wars.jpg" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
									<h3><a href="#">示例视频</a></h3>
									<p></p>
									  <span><a href="#">立即查看</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>			 
 					   </div>
 		 		 </div>
   	 		</div>
        </div>
   <div class="footer">
   	  <div class="wrap">	
	     
			 <div class="copy_right">
				<p>Copyright &copy; 哲也智慧教育平台</p>
		   </div>			
        </div>
    </div>
   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
	 <!-- Necessery scripts -->
	 <script src="js/jquery.actual.min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	 <script src="js/jquery.fittext.js"></script>
	 <script src="js/modernizr.js"></script>
	 <script src="js/gestures.js"></script>
	 <script src="js/jquery.carouFredSel.min.js"></script>
	 <script src="js/jquery.themepunch.plugins.min.js"></script>
	 <script src="js/jquery.themepunch.revolution.min.js"></script>
	 <script src="js/smooth-scroll.js"></script>
	 <script src="js/owl.carousel.js"></script>
	 <script src="js/wow.min.js"></script>
	 <script src="js/nivo-lightbox/nivo-lightbox.min.js"></script>
	 <script src="js/script.js"></script>
	  <!-- script for embed video responsive -->

</body>
</html>

