<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>哲也教育</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Creative Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
    />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/loginstyle.css" type="text/css" media="all" />

    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/loginfont-awesome.css">

    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

</head>

<body>



<!--header-->
<div class="header-w3l">
    <a  href="/index"><h1><span>哲也</span>教育</h1></a>
</div>
<!--//header-->
<div class="main-content-agile">
    <div class="sub-main-w3">

        <form action="#" method="post">
            <div class="pom-agile">
                <span class="fa fa-user-o" aria-hidden="true"></span>
                <input placeholder="邮箱" name="user_email" class="user" type="email" required="">
            </div>
            <div class="pom-agile">
                <span class="fa fa-key" aria-hidden="true"></span>
                <input placeholder="验证码" name="useryanzm" class="pass" type="text" required="">
            </div>
            <br>
            <div class="right-w3l">
                <input type="submit" value="验证">
            </div>
        </form>
    </div>
</div>
<!--//main-->
<!--footer-->
<div class="footer">
    <div class="wrap">
        <div class="copy_right">
            <p>Copyright &copy; 哲也智慧教育平台</p>
        </div>
    </div>
</div>
<!--//footer-->

</body>

</html>